body {
    color: rgb(4, 48, 180);
    /* max-width: 800px; */
    margin: 0 auto;
    font-family: Arial, sans-serif;

}

.services-row {
    padding-top: 1rem;
}

.services-col {
    flex-wrap: wrap;
    font-size: 18px;
}

.services-col img {
    max-width: 64px;
}

.loc_card {
    height: 100%;
    border: 2px solid rgb(1, 193, 252);
    border-radius: 10px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}

.care-card {
    height: 100%;
}

hr {
    border: 1px solid rgb(1, 193, 252);
}

.text-card {
    margin-bottom: 0px;
    margin-top: auto;
}

.card-head {
    margin-bottom: 15px;
}

.button-prim {
    background-color: rgb(1, 193, 252);
    border-radius: 8px;
    color: white;
    text-align: center;
    cursor: pointer;
    width: fit-content;
}

.button-secon {
    background-color: rgb(4, 48, 180);
    border-radius: 8px;
    color: white;
    text-align: center;
    cursor: pointer;
    width: fit-content;
}

.customer-heading {
    font-size: 20px;
    margin-bottom: 20px;
}

.how-to {
    width: 90%;
    height: auto;
    border-radius: 12px;
    border: 2px solid rgb(1, 193, 252);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    margin-bottom: 1rem;
}

.customer-link {
    font-size: 16px;
    margin: 5px 0;
    text-decoration: none;
}

@media (max-width: 576px) {
    .loc_card {
        font-size: 0.5rem;
    }

    h1 {
        font-size: medium;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .loc_card {
        font-size: 0.5rem;
    }

    h1 {
        font-size: medium;
    }

    .services-col img {
        max-width: 32px;
    }

    .services-col h4 {
        font-size: 18px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
    .loc_card {
        font-size: 1rem;
    }

    h1 {
        font-size: medium;
    }
}

@media (max-width: 1199.98px) {
    .loc_card p {
        font-size: 1.2rem;
    }
}

@media (min-width: 1199.98px) {
    .loc_card p {
        font-size: 1.2rem;
    }

    .care-card {
        font-size: 1.6rem;
    }
}